a, a:hover, a:focus {
  color: #333;
  text-decoration: none;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url(../Images/bg_body.jpg) repeat;
  font-family: 'Signika', sans-serif;
}
.nav li {
  padding: 7px;
}

.container {
  left: auto;
  right: auto;
}

summary {
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

.navbar .nav li a:hover, .navbar .nav .active a, .navbar .nav .active a:hover {
  color: #F15D00;
  border-radius: 30px;
  background: #000 !important;
  -moz-box-shadow: 0 1px 0px #222;
  -webkit-box-shadow: 0 1px 0px #222;
  -khtml-box-shadow: 0 1px 0px #222;
  box-shadow: 0 1px 0px #222;
}

.navbar .nav .login {
  color: #F15D00;
  border-radius: 30px;
  //background: #000 !important;
  -moz-box-shadow: 0 1px 0px #222;
  -webkit-box-shadow: 0 1px 0px #222;
  -khtml-box-shadow: 0 1px 0px #222;
  box-shadow: 0 1px 0px #222;

}

.navbar .nav li a {
  font-family: 'Signika', sans-serif;
  text-shadow: none;
  color: #999;
  text-decoration: none;
  padding: 0px 10px;
  font-weight: normal;
  -webkit-transition: background 0.4s ease-out;
  -moz-transition: background 0.4s ease-out;
  -khtml-transition: background 0.4s ease-out;
  transition: background 0.4s ease-out;
  display: block;
  float: left;
  height: 26px;
  line-height: 26px;
  text-transform: capitalize;
  outline: none;
  font-size: 13px;
  font-weight: normal;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -khtml-border-radius: 30px;
}

.sidebar-nav {
  padding: 9px 0;
}

.navbar-inner {
  margin-bottom: 30px;
  text-align: center;
  background: url(../Images/bg_header-2.png) repeat left top;
}

.navbar-inner .container-fluid {
  width:960px !important;
}

.nav .nav-header {
  font-size: 18px;
}

.brand {
  font-size: 30px !important;
  font-weight: 500 !important;
  //font-family: 'Signika', sans-serif;
  font-weight: bold;
  text-shadow: none !important;
}

.brand .laranja {
  color: #F15D00;
}

.brand .branco {
  color: #fff;
}

.well {
  background-color: white;
  box-shadow: 0 0 2px #cdcec8;
}

.busca {
  padding: 12px;
  background: #f0f0f0;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}

.busca .numerocaronas {
  text-align: right;
  margin-bottom: -4px;
  font-size: 11px;
  color: #999;
}

.busca h1 {
  font-size: 40px;
  margin-bottom: 5px;
  line-height: 1;
  letter-spacing: -1px;
  color:#FF6600;
}

.busca p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}

.busca input {
  width: 98%;
  padding: 10px;
  background: #FFF url(../Images/icon_search.png) 99% no-repeat;
}

.busca input:focus {
  border: 1px solid #f60;
  color: #333 !important;
}


.ride {
  border-top: #d5d5d5 1px solid;
  padding: 12px 0 12px 20px;

}

.ride:hover {
  background-color: #f9ffb5;
  cursor: pointer;
  -webkit-transition: background .3s ease-out;
}

.ride .row-fluid a:hover, .ride .row-fluid a .labelride:hover {
  border-bottom: 1px solid #CCC !important;
}

.estrelas {
  font-size: 25px;
  padding-left: 18px;
}

.labelride{
  color: #969696;
  font-size: 12px;
  line-height: 1.3em;
  float: left;
  margin: -2px 0 0 0;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
}

.labelfromto {
  padding-right: 4px;
}

.green {
  color: #9cbb40;
  font-weight: bold;
}

.red {
  color: #f77760;
  font-weight: bold;
}